<div class="main-content">
    <div class="cabecalho">
        <h1 class="textoVwProtege" style="color: #095b73;">Validador de Boletos</h1>
    </div>

    <div class="divDados">
        <h1 class="spanDescricao">Confirme a autenticidade do seu boleto de forma prática e
            efetue seu pagamento com segurança.
        </h1>
        <div style="margin-top: 50px;">
            <label for="barcodeInput" style="color: #095b73; font-weight: bold; font-size: 12px;">Código de
                barras</label>
            <input type="text" class="form-control" id="barcodeInput" aria-describedby="barcodeHelp"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 48)"
                placeholder="00000.00000 00000.000000 00000.000000 0 00000000000000" style="border-color: #7c7c7c">

        </div>

        <div class="container" style="margin-left: -15px; margin-top: 20px;">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#boletoModal"
                        style="border-radius: 20px; background-color: #095b73; border-color: #095b73;">
                        Validar boleto
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="boletoModal" tabindex="-1" aria-labelledby="boletoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    style="float: right;"></button>

                <div class="divTituloModal">
                    <i class="bi bi-patch-check" style="font-size: 60px;"></i>
                    <h5 class="modal-title" id="boletoModalLabel" style="font-weight: bold; font-size: 22px;">
                        O código de barras informado é válido!
                    </h5>
                </div>


                <div class="informacoesModal">
                    <p>Informações do boleto consultado:</p>
                    <p><strong>Valor:</strong> {{valor}}</p>
                    <p><strong>Vencimento:</strong> {{vencimento}}</p>
                    <p><strong>Nome do beneficiário:</strong> {{nomeBeneficiario}}</p>
                    <p><strong>Código de barras consultado:</strong> {{codigoBarraboleto}}
                        <button (click)="copyToClipboard()" class="btn btn-link"><i class="bi bi-copy"></i></button>
                    </p>

                    <div class="botoes">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-outline-secondary"
                            style="border-radius: 20px; margin-right: 20px;">
                            Fechar
                        </button>
                        <button type="button" data-bs-dismiss="modal" class="btn btn-primary"
                            style="border-radius: 20px; background-color: #095b73; border-color: #095b73;">
                            Realizar nova consulta
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>