<div class="main-content">
    <div class="cabecalho">
        <h1 class="textoVwProtege" style="color: #095b73; ">Validador de Boletos</h1>
    </div>

    <div class="divDados">
        <h1 class="spanDescricao">Confirme a autenticidade do seu boleto de forma prática e
            efetue seu pagamento com segurança.
        </h1>
        <div>
            <label for="exampleInputEmail1" style="color: #095b73; font-weight: bold;">Código de barras</label>
            <input type="text" class="form-control" id="barcodeInput" aria-describedby="barcodeHelp"
                placeholder="00000.00000 00000.000000 00000.000000 0 00000000000000" oninput="this.value = this.value.replace(/[^0-9. ]/g, '').replace(/(\..*)\./g, '$1')">
        </div>


        <div class="container" style="margin-left: -15px; margin-top: 20px;">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary" style="border-radius: 20px;"><i
                            class="bi bi-filetype-pdf"></i>
                        Baixar PDF do Contrato
                    </button>
                </div>

            </div>
        </div>


    </div>




</div>