
.sidebar {
  position: fixed;
  top: 80px;
  width: 312px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 25px;
  font-size: 18px;
  font-weight: bold;

}

.menu ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
}

.menu-item {
  margin-bottom: 10px;
}

.menu-item a {
  text-decoration: none;
  display: block;
  margin-top: 30px;
}

.menu-item a:hover {
  background-color: #f1f1f1;
}

.has-submenu .submenu {
  display: none;
  padding-left: 12px;
  font-weight: normal;
}

.has-submenu:hover .submenu {
  display: block;
}

.bi-chevron-down {
  float: right;
}