<div class="main-content">
  <div class="cabecalho">
    <h1 class="textoVwProtege" style="color: #095b73; ">VW Protege</h1>
    <img class="imgVwProtege" [src]="imgPath">
  </div>
  
  <div class="divDados">
    <h1 class="spanDescricao">Dados do Contrato</h1>
    <hr>
    <div class="dadosContrato">
      <div class="row">
        <div class="col-md-2">
          <div class="box">
            <span class="spanTitulo">Nome</span>
            <span class="spanDescricao">Fernanda Moreira Salles</span>
          </div>
        </div>

        <div class="col-md-2">
          <div class="box">
            <span class="spanTitulo">Contrato</span>
            <span class="spanDescricao">0043769259</span>
          </div>
        </div>
      </div>


    </div>

    <div class="dadosSeguro">
      <h1>Dados do Seguro</h1>
      <hr>
      <div class="row">
        <div class="descricaoSeguro">

          <div class="row">
            <div class="col-md-2">
              <div class="box">
                <span class="spanTitulo">Valor do Produto</span>
                <span class="spanDescricao">R$ 0.000,00</span>
              </div>
            </div>

            <div class="col-md-2">
              <div class="box">
                <span class="spanTitulo">Vigência</span>
                <span class="spanDescricao">00/00/0000</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="box">
                <span class="spanTitulo">Versão do Produto</span>
                <span class="spanDescricao">Lorem ipsum</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="box">
                <span class="spanTitulo">Status da Contratação</span>
                <span class="spanDescricao">Lorem ipsum</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="box">
                <span class="spanTitulo">Parceiro</span>
                <span class="spanDescricao">Lorem ipsum</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    
    <div class="container" style="margin-left: -15px; margin-top: 20px;" >
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-secondary" style="border-radius: 20px;"><i
              class="bi bi-filetype-pdf"></i>
            Baixar PDF do Contrato
          </button>
        </div>
        <div class="col">
          <a href="#" class="btn btn-secondary btn-lg active" style="border-radius: 20px;" role="button"
            aria-pressed="true">Agendamento
            <i class="bi bi-box-arrow-up-right"></i>
          </a>
        </div>
    
      </div>
    </div>
    
    </div>

   


  </div>