<div class="main-content">
  <div class="cabecalho">
    <h1 class="textoVwProtege">VW Protege</h1>
    <img class="imgVwProtege" [src]="imgPath">
  </div>
  <div class="divDados">
    <h1>Dados do contrato</h1>
    <hr>
    <div class="dadosContrato">
      <div class="row">
        
        <div class="col-md-3">
          <div class="box">
            <span>Nome</span>
            <span>Fernanda Moreira Salles</span>
          </div>
        </div>
        
        <div class="col-md-2">
          <div class="box">
            <span>Contrato</span>
            <span>0043769259</span>
          </div>
        </div>
      </div>
    </div>

  </div>





</div>