<footer  class="footer-full">
    <div style="display: flex; justify-content: space-around;">
      <div>
      <ul style="list-style: none;">
        <li><a href="#" style="color: white; text-decoration: none;">Tabela de Tarifas</a></li> 
        <li><a href="#" style="color: white; text-decoration: none;">Concessionárias</a></li> 
      </ul>
      </div>
      <div>
      <ul style="list-style: none;">
        <li><a href="#" style="color: white; text-decoration: none;">Canais de Atendimento</a></li> 
        <li><a href="#" style="color: white; text-decoration: none;">Política de Cookies</a></li> 
      </ul>
      </div>
      <div>
      <ul style="list-style: none;">
        <li><a href="#" style="color: white; text-decoration: none;">Custos Tributários</a></li> 
        <li><a href="#" style="color: white; text-decoration: none;">Perguntas Frequentes</a></li> 
      </ul>
      </div>
      <div>
      <ul style="list-style: none;">
        <li><a href="#" style="color: white; text-decoration: none;">Politica de Privacidade</a></li> 
        <li><a href="#" style="color: white; text-decoration: none;">Golpes</a></li> 
      </ul>
      </div>
      <div>
      <ul style="list-style: none;">
        <li><a href="#" style="color: white; text-decoration: none;">Formulários</a></li> 
        <li><a href="#" style="color: white; text-decoration: none;">Redes Sociais</a></li> 
      </ul>
      </div>
    </div>
    <div class="copy" style="text-align: center; margin-top: 10px;">
    <p style="color: white; margin-bottom: 0;">&copy; 2025 Volkswagen Financial Services. Todos os direitos reservados.</p>
    </div>
  </footer>